<section>
  <div id="propertyImages" class="carousel slide mx-auto" style="width: 60%">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#propertyImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" class="mx-auto" style="height: 600px">
      <% property.images.each_with_index do |img, idx| %>
          <div class="carousel-item w-100 h-100 <%= "active" if idx == 0 %>">
            <%= image_tag url_for(img), class: "d-block mx-auto", style: "max-width: 100%; max-height: 100%" %>
          </div>
        <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#propertyImages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#propertyImages" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="card mt-4 mx-auto" style="width: 60%">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title"><%= property.title %></h5>
        <p class="fs-3"><%= property.price.format %> <%= property.price.currency %></p>
      </div>

      <div class="col">
        <div>
          <i class="fa-solid fa-bed"></i>
          <span class="ms-2"><%= property.bedrooms %></span>
        </div>

        <div>
          <i class="fa-solid fa-bath"></i>
          <span class="ms-2"><%= property.bathrooms %></span>
        </div>

        <div>
          <i class="fa-solid fa-ruler"></i>
          <span class="ms-2"><% property.area %> mt<sup>2</sup></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="card mt-4 mx-auto" style="width: 60%">
  <div class="card-body">
    <p>Description</p>
    <p class="card-text"><%= property.description %></p>
  </div>
</section>
